/* Css resset Rule */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;

    /* aktrnative Fonts: serif, cursive,  fantsy, monospace */
}

nav {
    /* 0.8rem = 12.8px based on the element (16px) */
    /* shorthand property  */
    padding: 0.8rem;
    /* property that make up pading property
    padding-top
    padding-bottom
    padding-left 
    padding-right:*/

    /* create space between the element nav and the intro */
    margin-bottom:5rem;
    border-bottom: 3px solid gray;


    /* remove ther bullet points */
 
}

/* defferent combinators */
nav ul{
    list-style-type: none;
}

/* child selectors */
nav > ul > li{
    list-style-type: none;
}
/* descendent selecrtor */
nav .nav-logo, nav .nav{
    margin: 0.5rem;

    /* li element turn into inline elemenm, default element of block element */
    display: inline;
}

#intro{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    /* short hand property
    padding: top lef&right bottom */
    text-align: center;
}

.header{
    text-align: center;
}
#intro h2, #intro p{
    /* space between element */
    margin-bottom: 1rem;
}

#intro button{
    background-color: #c2195b;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 25px;
}

#succced-info{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;   
}


#succced-info h2{
    margin-bottom: 1rem;
}

#succced-info  h3{
    text-align: center;
    margin-bottom: 2rem;
}

#succced-info .card{
    /* inline block pweidi controlin*/
    display: inline-block;
    /* vertical-align: ;mag papatany sa uns kataas ang element example paragrahp
    a */
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    
}

footer{
    padding: 0.7rem;
}


footer span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* sh0rt hand top&button margin 
        margin: 0.5rem*/
}